@charset "UTF-8";
/* CSS Document */

/* =Structure
-------------------------------------------------------------- */

html,body { 
	height: 100%; 
	margin: 0px; 
	padding: 0px; 
 }

.container{
  background: #003660;
  min-height: 100%;
}

.holder{    
	background: #ffffff;
}

.header {
background-repeat: repeat;
background-position: center;
width: 100%;
display: table;
text-align: center;
background-color: #005587;
	  }

.navigation  {
text-align : center;
width : 100%;
background-color : #003660;
border-bottom : 10px solid #DCE1E5;
padding-top: 10px;
padding-bottom:10px;
}

.content {
    border: 10px;
    border-spacing: 0px 20<!DOCTYPE html>
<html lang="">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Sam's Homepage</title>
 <link rel="stylesheet" href="style.css"> 
<link rel="preconnect" href="https://fonts.gstatic.com"> 
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">  
<link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
</head>
<body>
	<div class="container">
<div class="holder">
  <div class="header"><div class="title">Samier</div></div> 
	
	<div class="navigation">
		<ul>
  <li><a href="/index.html" title="">Home</a></li>
  <li><a href="/tesol.html" title="">TESOL</a></li>
  <li><a href="/language.html" title="">言語学・日本語</a></li>
  <li><a href="/links.html" title="">Links</a></li>
  <li><a href="/contact.html" title="">Contact</a> </li>
        </ul> 
                </div>
<div class="content">
<h2>Links</h2>
	<h3>Language learning</h3>
		<ul>
	      <li><a href="http://jisho.org">Jisho</a> (Japanese ↔ English Dictionary)</li>
		  <li><a href="http://dic.naver.com">Naver Dictionary</a> (Korean/Japanese/English/Chinese)</li>
	      <li><a href="http://mykittyland.com/sdjsc_links.htm">Fumiko Tachibana's Useful Links for Studying Japanese</a></li>
		  <li><a href="https://www3.nhk.or.jp/news/easy/">NHK News Easy</a> (Japanese News in Simple Language)</li>
		  <li><a href="https://drive.google.com/file/d/18LqRpCG1cjAacVKorPrF7JUnjnVu2VLW/view?usp=sharing">Japanese Counters & Dates by Japan Foundation</a></li>
		  <li><a href="https://docs.google.com/document/d/17-7hSPIiE6mFzQU5lQgLCznKLglRWKijZB1us5XRtnI/edit?usp=sharing">カタカナの言葉に注意</a></li>
                   <li><a href="https://web.mit.edu/kakikotoba/index.html">書き言葉レッスン</a></li>
        </ul>
	<h3>Teaching/Education</h3>
	    <ul>
	      <li><a href="https://brocansky.com/humanizing">Humanizing Your Online Course</a></li>
	      <li><a href="https://cft.vanderbilt.edu/guides-sub-pages/developing-and-writing-a-diversity-statement/">Vanderbilt Guide to Writing Diversity Statements</a></li>
		  <li><a href="https://physicalsciences.ucsd.edu/_files/examples-submitted-diversity-statements.pdf">UCSD Diversity Statement Examples</a></li>
		  <li><a href="https://cft.vanderbilt.edu/guides-sub-pages/developing-and-writing-a-diversity-statement/">UCSF Diversity Statement Examples</a></li>
      </ul>
	<h3>Website Development</h3>
	<blockquote>This website was coded and designed from scratch. 当サイトは自分で一からコーディングとデザインされました。 以下のリンクを使用して、Webデザインの道を歩んではじめましょう。</blockquote>
	    <ul>
	      <li><a href="https://www.adobe.com/products/dreamweaver.html">Adobe Dreamweaver</a> (Website design software)</li>
	      <li><a href="https://pages.github.com">Github Pages</a> (Free static website hosting)</li>
	      <li><a href="http://sites.google.com">Google Sites</a> (Free website builder and host)</li>
			<li><a href="https://www.w3schools.com">W3Schools Web Tutorials</a></li>
        </ul>
	<h3>Linguists and Scholars that Inspire Me</h3>
	    <ul>
	      <li><a href="https://nicolerholliday.wordpress.com">Nicole Holiday</a> </li>
		  <li><a href="https://www.mshimoji.com">下地理則</a> </li>
		  <li><a href="https://noriyukinishiyama.com">西山教行</a> </li>
	    </ul>
</div>
	<div class="footer">
			© 2021-<script>document.write(new Date().getFullYear())</script>  Sam's Homepage
	</div></div>
	</div>
</body>
</html>
px;
    width: 80%;
    background: white;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
    max-width: 800px; 
}

.footer {
   left:0px;
   bottom:0px;
   width:100%;
   background:#003660;
   color: white;
   font-size: 16px;
   text-align: center;
   border-top: #DCE1E5 10px solid;
   padding-top: 50px;
   padding-bottom: 50px;
   margin-top: 50px;
}

.contactform {
  width: 100%;
  height: 850px;
  border: none;
}

/* =Font
-------------------------------------------------------------- */
body {
  color: #696969;
  font-family: Aruak, Verdana, sans-serif;  
  margin: 0;
}

.title {
  color: white;
  font-size:75pt;
  font-family: Pacifico, Brush Script MT, Courier;
  width: 100%; /* Can be in percentage also. */
  text-align: center;
  padding-bottom: 20px;
  padding-top: 20px;
  display: table-cell;
  vertical-align: middle;
  font-weight: bolder;
  text-shadow: 5px 5px 0px #047C91, 10px 10px 0px rgba(0,0,0,0.25);
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
   user-select: none;
   cursor: default;
}
    
h1 {
  color: grey;
  text-align: left;
  font-weight: lighter;
  font-family: Roboto, arial, courier;
  font-size: 40pt;
} 
    
h2 {
color: #047C91;
text-align: left;
font-weight: lighter;
font-family: Roboto, arial, courier;
font-size: 20pt;
border-bottom : 5px solid #047C91;
padding-bottom : 7px;
} 

h3 {
color: gray;
text-align: left;
font-family: Roboto, arial, courier;
font-size: 15pt;
border-bottom : 1px solid gray;
padding-bottom : 7px;
} 

figcaption {
  color: gray;
  border-radius : 10px;
  font-style: italic;
  text-align: right;
  padding: 10px;
}

blockquote {
  background: #DCE1E5;
  border-left: 10px solid #047C91;
  padding: 10px;
  border-radius : 10px;
  margin-left:0px;
  margin-right:0px;
}

h4 {
color: #047C91;
text-align: center;
font-weight: lighter;
font-family: Roboto, arial, courier;
font-size: 20pt;
padding : 10px;
}

h5 {
color: grey;
text-align: center;
font-weight: lighter;
font-family: Roboto, arial, courier;
font-size: 15pt;
}

/* =Links
-------------------------------------------------------------- */
    
a:link {
  color: gray; 
  background-color: transparent; 
  text-decoration: underline;
}

a:active {
  color: gray;
  background-color: transparent;
  text-decoration: underline;
}

a:visited {
  color: gray;
  background-color: transparent;
  text-decoration: underline;
}

a:hover {
  color: #047C91;
  text-decoration: underline;
}
    
a.button   {
color : #ffffff;
background-color : #003660;
border-radius : 10px;
padding: 10px;
text-align: center;
display: block;
margin: 10px;
text-decoration: none;
margin-right: 0;
margin-left: 0;
}

.a.button:visited  {
color : #ffffff;
background-color : #003660;
border-radius : 10px;
padding: 10px;
text-align: center;
display: block;
text-decoration: none;
margin-right: 0;
margin-left: 0;
}


a.button:hover  {
color : #ffffff;
background-color : #047C91;
border-radius : 10px;
padding: 10px;
text-align: center;
display: block;
text-decoration: none;
margin-right: 0;
margin-left: 0;
}

.content ul {list-style: none} 

.content ul li::before {
  content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: #DCE1E5; /* Change the color */ 
  display: inline-block; width: 1em;   
  margin-left: -1em
}

.navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navigation li {   
	display: inline; 
}
	
.navigation li + li:before {content: "|"; 
}

.navigation  a  {
font-size : 18px;
display: inline-block;
padding : 10px 10px;
text-decoration : none;
color : #ffffff;
border-bottom : 0;	
}

.navigation  visited  {
font-size : 18px;
display: inline-block;
padding : 10px 10px;
text-decoration : none;
color : #ffffff;
border-bottom : 0;	
}


.navigation  a:hover  {
color : #ffffff;
background-color : #047C91;
border-radius : 10px;
text-decoration: none;
-webkit-transition: all 500ms ease;
-moz-transition: all 500ms ease;
-ms-transition: all 500ms ease;
-o-transition: all 500ms ease;
transition: all 500ms ease;
}

details > summary {
  padding: 10px;
  background-color: #DCE1E5;
  border: none;
  cursor: pointer;
  border-radius : 10px;
}

details  {
  border-radius : 10px;
  border: 1px solid grey;
}

/* =Images
-------------------------------------------------------------- */
    
img.profile {
width: 180px;
border: 0px solid #DCE1E5;
display: block;
border-left: 10px solid #DCE1E5;
margin-right: 15px;
float: left;
border-radius : 10px;
}

img.project {
width: 100%;
border: 10px solid #DCE1E5;
margin-left: auto;
margin-right: auto;
border-radius : 10px;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
 -ms-box-sizing: border-box;
 box-sizing: border-box;
}

img.content {
display: block; 
width: 100%;
border-radius : 10px;
margin-left: auto;
margin-right: auto;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
 -ms-box-sizing: border-box;
 box-sizing: border-box;
}