@charset "UTF-8";
/* CSS Document */

/* =Structure
-------------------------------------------------------------- */

.holder {
background-color: #ffffff;
	  }

.header {
background-repeat: repeat;
background-position: center;
width: 100%;
display: table;
text-align: center;
background-color: #005587;
	  }

.navigation  {
text-align : center;
width : 100%;
background-color : #003660;
border-bottom : 10px solid #DCE1E5;
padding-top: 10px;
padding-bottom:10px;
}

.content {
    border: 10px;
    border-spacing: 0px 20px;
    width: 80%;
    background: white;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    font-size: 17px;
    max-width: 800px; 
}

.footer {
   left:0px;
   bottom:0px;
   width:100%;
   background:#003660;
   color: white;
   text-align: center;
   border-top: #DCE1E5 10px solid;
   padding-top: 50px;
   padding-bottom: 20px;
   margin-top: 50px;
}

/* =Font
-------------------------------------------------------------- */
body {
  color: #696969;
  font-family: Aruak, Verdana, sans-serif;  
  margin: 0;
  background: #003660;

}

.title {
  color: white;
  font-size:75pt;
  font-family: Pacifico, Helvetica, Courier;
  width: 100%; /* Can be in percentage also. */
  text-align: center;
  padding-bottom: 20px;
  padding-top: 20px;
  display: table-cell;
  vertical-align: middle;
  font-weight: bolder;
  text-shadow: 5px 5px 0px #047C91, 10px 10px 0px rgba(0,0,0,0.25);
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
   user-select: none;
   cursor: default;
}
    
h1 {
  color: grey;
  text-align: left;
  font-weight: lighter;
  font-family: Roboto, arial, courier;
  font-size: 40pt;
} 
    
h2 {
color: #047C91;
text-align: left;
font-weight: lighter;
font-family: Roboto, arial, courier;
font-size: 20pt;
border-bottom : 5px solid #047C91;
padding-bottom : 7px;
} 

h3 {
color: gray;
text-align: left;
font-family: Roboto, arial, courier;
font-size: 15pt;
border-bottom : 1px solid gray;
padding-bottom : 7px;
} 
    
.content img {
width: 200px;
border: 0px solid;
display: block;
padding-right: 15px;
float: left;
}

blockquote {
  background: #DCE1E5;
  border-left: 10px solid #047C91;
  padding: 10px;
  border-radius : 10px;
  margin-left:0px;
  margin-right:0px;
}


/* =Links
-------------------------------------------------------------- */
    
a:link {
  color: gray; 
  background-color: transparent; 
  text-decoration: underline;
}

a:active {
  color: gray;
  background-color: transparent;
  text-decoration: underline;
}

a:visited {
  color: gray;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: white;
  background-color: #696969;
  text-decoration: none;
}
    
h1 a:active {
  color: gray;
  background-color: transparent;
  text-decoration: none;
}
    
h1 a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

h1 a:visited {
  color: gray;
  background-color: transparent;
  text-decoration: underline;
}

h1 a:hover {
  color: gray;
}

.navigation  a  {
font-size : 17px;
display: inline-block;
padding : 10px 10px;
text-decoration : none;
color : #ffffff;
border-bottom : 0;	
}

.navigation  visited  {
font-size : 17px;
display: inline-block;
padding : 10px 10px;
text-decoration : none;
color : #ffffff;
border-bottom : 0;	
}


.navigation  a:hover  {
color : #ffffff;
background-color : #047C91;
border-radius : 10px;
}

details > summary {
  padding: 10px;
  background-color: #DCE1E5;
  border: none;
  cursor: pointer;
  border-radius : 10px;
}

details  {
  border-radius : 10px;
  border: 1px solid grey;
}
